            
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline:none;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body{
    background-color: #0c9982;
}
form{
    width:400px;
    border:1px solid #dedede;
}
form label {
    display: block;
}
form input{
    width:100%;
    display: block;
}
form button{
    
}